.JHANSIKOTHI{
    width: 100%;
    height: 110px;
    background-color: pink;
    color:black;
    border: 5px;
    

}




.CAREER_OBJECTIVE{
    width: 100%;
    height: 80px;
    background-color: lightgreen;
    color:black;
    border: 5px;
    
}
.SUMMARY{
    width:100%;
    height:130px;
    background-color: orange;
    color:black;

}
.EDUCATION{
    width:100%;
    height:80px;
    background-color: yellow;
    color:black;

}
.TECHNICALSKILLS{
    width:100%;
    height:120px;
    background-color:purple;
    color:black;
}
.DECLARATION{
    width:100%;
    height:80px;
    background-color: brown;
    color:black;
}

    
      

